body {
    background-color: #0B1523;
    overflow-x: hidden;
}

.main-wrapper {
    width: 80%;
    margin: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    align-items: flex-start;


    font-family: 'Roboto', 'Poppins', Helvetica;
    color: white;
}

.hero h1 {
    font-weight: 800;
    font-size: 3.5em;
}

.image-container {
    position: relative;
    width: 100%;
    margin-top: 5%;
}

.hero-img {
    margin: auto;
    position: relative;
}

.hero-blur-img {
    filter: blur(20px);
    margin: auto;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.discover-btn {
    background-color: #7144EA;
    color: white;
    font-weight: bold;
    font-size: 1.4em;

    border-radius: 5px;
    padding: 8px 35px;
    margin-top: 15px;
}

/* ICON SECTION */

.icon {
    /* center horizontally */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: 100px;
}

.properties {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: "Roboto", "Helvetica";
    color: white;
}

.properties h2 {
    font-size: 2em;
    font-weight: medium;
    margin-top: 20px;
    margin-bottom: 20px;
}

.properties p {
    margin: auto 20px;
}

/* NAVIGATION SECTION */

.navigation-section {
    margin-top: 8%;
}

.navigation-text {
    color: white;
}

.navigation-text h2 {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8%;
    font-weight: bold;
    font-family: "Roboto", "Helvetica";
}

.navigation-text p {
    font-weight: 500;
    font-family: "Poppins", "Roboto";
    padding-right: 10%;
}

.vertical-line {
    width: 6px;
    height: 40px;
    background-color: #DF3656;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8%;
    border-radius: 10px;
}


.navigation-btn {
    background-color: #DF3656;
    color: white;
    font-weight: 600;
    font-size: 1.4em;
    font-family: "Roboto", "Poppins";

    border-radius: 10px;
    padding: 6px 20px;
    margin-top: 4%;
}

.navigation-column {
    height: 35vh;
}

.grid-container {
    display: grid;
    gap: 0;
    padding: 25px;
    width: 100%;
    height: 100%;
}

.grid-cell {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 4px solid #242331;
}

.footer {
    color: white;
    text-align: center;
    margin-top: 15vh;
}

/* AUTONOMOUS NAVIGATION INTERACTIVITY */

.path-card {
    background-color: transparent;
    width: auto;
    height: 100%;
    perspective: 1000px;
}

.path-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.flipped {
    transform: rotateY(180deg);
}

.path-card-front,
.path-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
}

.path-card-front {
    background-color: white;
}

.path-card-back {
    background-color: white;
    transform: rotateY(180deg);
    padding: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 0px;
}

form h4 {
    color: #0B1523;
}

.input-pair {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
}

.form-label {
    margin-bottom: 5px;
}

.form-input,
.form-input-number {
    padding: 2px;
    margin-bottom: 5px;
}

.path-btn {
    background-color: #0B1523;
    color: white;
    font-family: "Poppins", "Roboto";
    margin-top: 10px;
}

.visited-right {
    border-right-color: green;
}

.visited-left {
    border-left-color: green;
}

.visited-up {
    border-top-color: green;
}

.visited-down {
    border-bottom-color: green;
}

/* BACKGROUND FIGURES */
.ellipses {
    filter: blur(40px);
    position: relative;
    opacity: 0.8;
}

.left_ellipse {
    background-color: #4A2E64;
    position: absolute;
    width: 200px;
    height: 300px;
    rotate: -65deg;
    left: -12vw;
    top: -5vh;
    border-radius: 100%;
}

.right_ellipse {
    background-color: #2F9CA8;
    position: absolute;
    width: 250px;
    height: 400px;
    rotate: 50deg;
    right: -14vw;
    top: 30vh;
    border-radius: 100%;
}

@media (max-width: 991.98px) {
    .col-center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }
}